<app-navbar></app-navbar>
<div class="container">
    <div>
        <h2>Modifier pret:</h2>
    </div>
    <form (ngSubmit)="updatePret()" class="row g-3">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="idPret" class="form-label">Id Pret:</label>
                <input readonly type="text" [(ngModel)]="currentPret.idPret" id="idPret" name="idPret"
                    class="form-control" [readonly]="true">
            </div>

           

            <div class="mb-3">
                <label for="montant" class="form-label">Montant:</label>
                <input type="number" [(ngModel)]="currentPret.montant" id="montant" name="montant" class="form-control">
            </div>
           
            <div class="mb-3">
                <label>date demande</label>
                <input type="date" [(ngModel)]="currentPret.dateDemande" name="dateCreation" class="form-control long-date-input">
            </div>
            <div class="mb-3">
                <label>date remise</label>
                <input type="date" [(ngModel)]="currentPret.dateRemise" name="dateRemise" class="form-control long-date-input">
            </div>
            
        
            <div class="col-sm-4 col-md-4 col-lg-4">
                <label>personnel correspondant</label>
                <select class="form-control form-control-lg" id="idContrat" name="idContrat" [(ngModel)]="updatedAsId">
                    <option *ngFor="let ab of personnels" [value]=" ab.id">
                        {{ab.nom }}{{ ab.prenom + ' - ' + ab.numCin}}
                    </option>  
                </select>
            </div>
        </div>

        <div class="col-12 mt-2">
            <button (click)="updatePret()" class="btn btn-success">Modifier</button>
        </div>
    </form>
</div>