<app-navbar></app-navbar>
<div class="container">
    <div>
        <h2>Modifier mon document:</h2>
    </div>
    <form>
        <div  class="col-sm-2 col-md-2 col-lg-2">
            <label>ID </label>
            <input readonly type="text" [(ngModel)]="currentDocument.idDocument" name="idDocument" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>type</label>
            <input type="text" [(ngModel)]="currentDocument.type" name="type" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>date creation</label>
            <input type="date" [(ngModel)]="currentDocument.dateCreation" name="dateCreation" class="form-control">
        </div>
        
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>personnel correspondant</label>
            <select class="form-control form-control-lg" id="idContrat" name="idContrat" [(ngModel)]="updatedAsId">
                <option *ngFor="let ab of personnels" [value]=" ab.id">
                    {{ab.nom }}{{ ab.prenom + ' - ' + ab.numCin}}
                </option>  
            </select>
        </div> 
        <div class="mt-2">
            <button type="submit" (click)="updateDocument()" class="btn btn-success">Modifer</button>
        </div>
    </form>
</div>