<app-navbar></app-navbar>
<div class="container">
    <div>
        <h2>Ajouter un Prêt :</h2>
    </div>
    <form>
        <div class="col-md-6">
            <div hidden class="mb-3">
                <label for="idPret" class="form-label">ID Pret</label>
                <input type="text" [(ngModel)]="newPret.idPret" name="idPret" class="form-control">
            </div>
            <div class="mb-3">
                <label for="montant" class="form-label">Montant</label>
                <input type="number" [(ngModel)]="newPret.montant" name="montant" class="form-control" placeholder="Entrez un montant..." required>
            </div>
            <div class="mb-3">
                <label class="form-label">Date de demande :</label>
                <input type="date" [(ngModel)]="newPret.dateDemande" name="dateDemande" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Date de remise :</label>
                <input type="date" [(ngModel)]="newPret.dateRemise" name="dateRemise" class="form-control" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label">Personnel correspondant :</label>
                <select class="form-control" [(ngModel)]="selectedPersonnel" name="idPret" required>
                    <option *ngFor="let personnel of personnels" [ngValue]="personnel">
                        {{ personnel.nom }} {{ personnel.prenom + ' - ' + personnel.numCin }}
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Username :</label>
                <input type="text" [(ngModel)]="newPret.username" name="username" class="form-control" required>
            </div>
        </div>
        <div class="mt-2">
            <button type="submit" (click)="addPret()" class="btn btn-success">Ajouter</button>
        </div>
    </form>
</div>
