<app-navbar></app-navbar>
<form>

  <div [hidden]="true">
    <label for="idConge" class="form-label">id Conge</label> 
    <input [(ngModel)]="newConge.idConge" name="idConge" class="form-control w-25">
  </div>
  <br />

  <div>
    <label for="typeConge" class="form-label">Type Conge</label> 
    <input type="text" [(ngModel)]="newConge.typeConge" name="typeConge" class="form-control" placeholder="Entrez un type...">
  </div>
  <br />

  <div>
    <label for="dateDebut" class="form-label">Date Debut</label> 
    <input type="date" [(ngModel)]="newConge.dateDebut" name="dateDebut" class="form-control" placeholder="Entrez une date...">
  </div>
  <br />

  <div>
    <label for="dateFin" class="form-label">Date Fin</label> 
    <input type="date" [(ngModel)]="newConge.dateFin" name="dateFin" class="form-control" placeholder="Entrez une date...">
  </div>
  <br />

  <div>
    <label for="dateDemande" class="form-label">Date Demande</label> 
    <input type="date" [(ngModel)]="newConge.dateDemande" name="dateDemande" class="form-control" placeholder="Entrez une date...">
  </div>
  <br />

  <div class="col-sm-4 col-md-4 col-lg-4">
    <label>Personnel correspondant</label>
    <select class="form-control form-control-lg" id="idConge" name="idConge" [(ngModel)]="selectedPersonnel">
      <option *ngFor="let personnel of personnels" [ngValue]="personnel">
        {{ personnel.nom }} {{ personnel.prenom + ' - ' + personnel.numCin }}
      </option>
    </select>
  </div>

  <div class="mt-4">
    <button type="submit" (click)="addConge()" class="btn btn-success mb-2">Ajouter</button>
  </div>
</form>
