<app-navbar></app-navbar>
<div class="container">
    <div>
        <h2>Ajouter un contrat :</h2>
    </div>
    <form>
        <div class="col-md-6">
            <div hidden class="mb-3">
                <label class="form-label">ID </label>
                <input type="text" [(ngModel)]="newContrat.idContrat" name="idContrat" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Type Du Contrat :</label>
                <input type="text" [(ngModel)]="newContrat.type" name="type" class="form-control" required #typeField="ngModel">
                <div *ngIf="typeField?.invalid && (typeField?.dirty || typeField?.touched)" class="text-danger">
                    <div *ngIf="typeField?.errors?.['required']">Prenom requis.</div>
                    <div *ngIf="typeField?.errors?.['type'] && !typeField?.errors?.['required']"></div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Date d'Embauche :</label>
                <input type="date" [(ngModel)]="newContrat.dateEmbauche" name="dateEmbauche" class="form-control" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label">Date de Signature :</label>
                <input type="date" [(ngModel)]="newContrat.dateSignature" name="dateSignature" class="form-control" required [min]="newContrat.dateEmbauche">
                <div *ngIf="newContrat.dateSignature < newContrat.dateEmbauche" class="text-danger">
                    La date de signature ne peut pas être postérieure à la date d'embauche.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Nom du Société :</label>
                <input type="text" [(ngModel)]="newContrat.nomSociete" name="nomSociete" class="form-control" required #nomSocieteField="ngModel">
                <div *ngIf="nomSocieteField?.invalid && (nomSocieteField?.dirty || nomSocieteField?.touched)" class="text-danger">
                    <div *ngIf="nomSocieteField?.errors?.['required']">Nom Societé requis.</div>
                    <div *ngIf="nomSocieteField?.errors?.['nomSociete'] && !nomSocieteField?.errors?.['required']"></div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Salaire:</label>
                <input type="number" [(ngModel)]="newContrat.salaire" name="salaire" class="form-control" required #salaireField="ngModel">
                <div *ngIf="salaireField?.invalid && (salaireField?.dirty || salaireField?.touched)" class="text-danger">
                    <div *ngIf="salaireField?.errors?.['required']">salaire requis.</div>
                    <div *ngIf="salaireField?.errors?.['salaire'] && !salaireField?.errors?.['required']"></div>
                </div>
            </div>
           
            <div class="mb-3">
                <label>Personnel correspondant</label>
                <select class="form-control form-control-lg" id="idContrat" name="idContrat" [(ngModel)]="selectedPersonnel">
                    <option *ngFor="let personnel of personnels" [ngValue]="personnel">
                        {{ personnel.nom }} {{ personnel.prenom + ' - ' + personnel.numCin}}
                    </option>
                </select>
            </div>
        </div>
        <div class="mt-2">
            <button type="submit"  (click)="addContrat()" class="btn btn-success">ajouter</button>
        </div>
    </form>
</div>
