<app-navbar></app-navbar>
<div class="container">
    <div>
        <h2>Ajouter un contrat :</h2>
    </div>
    <form>
        <div class="col-md-6">
            <div hidden class="mb-3">
                <label class="form-label">ID</label>
                <input type="text" [(ngModel)]="newContrat.idContrat" name="idContrat" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Type Du Contrat :</label>
                <select [(ngModel)]="newContrat.type" name="type" class="form-control" required #typeField="ngModel">
                    <option value="" disabled selected>Choisissez le type de contrat</option>
                    <option value="CDD">CDD</option>
                    <option value="CDI">CDI</option>
                    <option value="autres">autres</option>
                </select>
                <div *ngIf="typeField?.invalid && (typeField?.dirty || typeField?.touched)" class="text-danger">
                    <div *ngIf="typeField?.errors?.['required']">Type du contrat requis.</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Date d'Embauche :</label>
                <input type="date" [(ngModel)]="newContrat.dateEmbauche" name="dateEmbauche" class="form-control" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label">Date de Signature :</label>
                <input type="date" [(ngModel)]="newContrat.dateSignature" name="dateSignature" class="form-control" required [min]="newContrat.dateEmbauche">
                <div *ngIf="newContrat.dateEmbauche < newContrat.dateSignature" class="text-danger">
                    La date de signature ne peut pas être postérieure à la date d'embauche.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Nom du Société :</label>
                <input type="text" [(ngModel)]="newContrat.nomSociete" name="nomSociete" class="form-control" required #nomSocieteField="ngModel">
                <div *ngIf="nomSocieteField?.invalid && (nomSocieteField?.dirty || nomSocieteField?.touched)" class="text-danger">
                    <div *ngIf="nomSocieteField?.errors?.['required']">Nom Société requis.</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Salaire:</label>
                <input type="number" [(ngModel)]="newContrat.salaire" name="salaire" class="form-control" required #salaireField="ngModel">
                <div *ngIf="salaireField?.invalid && (salaireField?.dirty || salaireField?.touched)" class="text-danger">
                    <div *ngIf="salaireField?.errors?.['required']">Salaire requis.</div>
                </div>
            </div>
            <div class="mb-3">
                <label>Personnel correspondant</label>
                <select class="form-control form-control-lg" id="idContrat" name="idContrat" [(ngModel)]="selectedPersonnel">
                    <option *ngFor="let personnel of personnels" [ngValue]="personnel">
                        {{ personnel.nom }} {{ personnel.prenom + ' - ' + personnel.numCin }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label>Username</label>
                <input type="text" [(ngModel)]="newContrat.username" name="username" class="form-control">
            </div>
        </div>
        <div class="mt-2">
            <button type="submit" (click)="addContrat()" class="btn btn-success">Ajouter</button>
        </div>
    </form>
</div>
